@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-bloque-login: #f3f4f4;
  --color-bloque-header: #071e33;
  --color-button1: rgba(172, 171, 171, 1);
  --title-login: #000000;
  --texto-opc1: #d8d8d8;
  --texto-opc2: #071e33;
  --texto-opc3: #ffffff;
  --texto-opc4: #7F7F7F;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  height: 120px;
  text-align: center;
  background-color: var(--color-bloque-header);
  margin: 0 auto;
}

.header--img1{
  border-width: 0px;
  width:132px; 
  height:39px;
  margin-left: 10px;
}

.header--img2{
  border-width: 0px;
  width:75px; 
  height:73px;
  margin-top: 3px;
  margin-right: 10px;
  position: relative;
}

.main--title p {
  text-align: center;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem; /*1rem = 10 px*/
  color: var(--texto-opc3);
}

.main--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 404px;
  align-items: center;
}

.main-body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 512px;
  height: 404px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: none;
}

.main-img {
  position: relative;
  align-self: flex-start;
  width: 1024px;
  height: 507px;
  margin: none;
}

.img--background{
  width:1024px;
  height:507px;
}

.main-container img {
  width: 139px;
  height: 136px;
  margin-top: 15px;
  margin-bottom: 253px;
}

.main-form {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 60px;
  width: 920px;
  height: calc(430px + 86px);
}

.text-container {
  position: absolute;
  align-self: center;
  top: 20px;
}

.body--main-title{
  text-align: center;
  font-family: 'Poppins-Medium', 'Poppins Medium', 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem; /*1rem = 10 px*/
  color: var(--texto-opc2);
}

.body--main-text{
  width: 690px;
  text-align:center;
  margin-top: 10px;
  font-family:'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: var(--texto-opc2);
}

.body--main-subtitle{
  text-align: center;
  margin-top: 35px;
  font-family: 'Poppins-Medium', 'Poppins Medium', 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem; /*1rem = 10 px*/
  color: var(--texto-opc2);
}

.main--back {
  position: absolute;
  display: flex;
  width: 920px;
  height: 488px;
  background-color: rgba(255,255,255,0.90);
  margin-top: 8px;
  margin-left: 50px;
}

.main--arrow{
  position: relative;
  width: 919px;
  height: 59.3px;
  padding: 0px;
  border: 0px;
  background-color: rgba(172, 171, 171, 1);
  border-width:1.5px;
  border-left-width: 0px;
  border-style: solid;
  border-color:#F1F2EF;
}

figure {
  padding: 0px;
  float: left;
  margin: 0px;
}

.main--header {
  height: 62px;
  display: flex;
  margin-bottom: 8px;
}

.main--header img {
  width: 280px;
  /* outline: 1px solid  blue; */
}

.main--header--flecha-1, .main--header--flecha-2 {
  height: 62px;
  width: 230px;
  display: flex;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.flecha-2 {
  height: 62px;
  width: 270px;
  right: 40px;
}

.flecha-3 {
  height: 62px;
  width: 240px;
  right: 75px;
}

.flecha-4 {
  height: 62px;
  width: 275px;
  right: 95px;
}

/* Flechas */
.main--header--flecha-1 div, .main--header--flecha-2 div {
    font-size: 1.6rem;
    font-family: 'Poppins-Regular', 'Poppins', sans-serif;
    color: var(--texto-opc3);
    text-align: left;
    line-height: normal;
  
    position: absolute;
}


.main--header--flecha--text-1{
  height: 100%;
  min-width:220px; 
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.main--header--flecha--text-2{
  height: 100%;
  min-width:220px; 
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.main--header--flecha--text-3{
  height: 100%;
  min-width:220px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.main--header--flecha--text-4 {
  height: 100%;
  min-width:220px; 
  display: flex;
  align-items: center;
  margin-left: 50px;
}

/* CONTENIDO */
.form-cuestionario-satisfaccion {
  max-width: 920px;
  width: 100%;
  height: calc(488px - 62px);
}

.contenedor-padre-preguntas {
  max-height: 260px;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 920px;
  padding: 45px;
}

.contenedor-pregunta {
  margin-bottom: 10px;
}

/* PREGUNTAS */

.pregunta-encuesta {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.opciones-pregunta-1 {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opciones-pregunta-1 li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-right: 56px; */
}

.opciones-pregunta-1 li input{
  margin-right: 5px;
  color: var(--texto-opc4);
}

.opciones-pregunta-1 li label {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

/* Pregunta 2 */
.contenedor-respuesta-encuesta--p1 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: var(--texto-opc4);
}
.contenedor-respuesta-1-p2 {
  display: flex;
  flex-direction: row;
}

.contenedor-respuesta-1-p2 > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-right: 80px;
}
.contenedor-incisos-p2 {
  display: flex;
  flex-direction: row;
}

.contenedor-inciso-p2 label {
  margin-right: 10px;
}

.contenedor-respuesta-1-p2 .contenedor-inciso-p2 input {
  height: 32px;
  width: 251px;
  border: 1px solid var(--color-bloque-header);
  border-radius: 4px;
  margin-right: 10px;
  padding-left: 4px;
  display: flex;
  flex-direction: row;
}

.contenedor-respuesta-si-p2 {
  width: 130px;
  height: 30px;
  font-size: 14px;
}
.contenedor-respuesta-si-p2 input {
 margin-right: 10px;
}

.contenedor-inciso-p2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.contenedor-respuesta-2-p2 {
  margin: 10px 0;
}

.parte2-incisos-p2 {
  margin-left: 80px;
}


/*Pregunta 3*/
.contenedor__respuesta__encuesta--p3 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: var(--texto-opc4);
}

.contenedor__respuesta__1--p3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10px;
}

.contenedor__subseccion__respuesta__1--p3 li {
  width: 120px;
  margin-top: 10px;
}

.contenedor__incisos--p3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
}

.contenedor__incisos--p3 input {
  height: 32px;
  width: 251px;
  border: 1px solid var(--color-bloque-header);
  border-radius: 4px;
  padding-left: 4px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.subcontenedor__incisos-s2--p3 {
  margin-left: 75px;
}

.contenedor__inciso--p3 {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.contenedor__inciso--p3 label {
  margin-right: 10px;
}

.contenedor__respuesta__2--p3 {
  margin: 10px 0 10px 10px;
}

/*Pregunta 4*/
.contenedor__respuestas__encuesta--p4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
}

.contenedor__opciones--p4 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
}

.subseccion__opciones__1--p4,
.subseccion__opciones__2--p4,
.subseccion__opciones__3--p4 {
  display: flex;
  flex-direction: column;
}

.subseccion__opciones__1--p4 li,
.subseccion__opciones__2--p4 li,
.subseccion__opciones__3--p4 li {
  margin: 6px 0;
}

.contenedor__opcion-otro--p4 {
  margin: 10px 10px;
}

.contenedor__opcion-otro--p4 li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contenedor__opcion-otro--p4 label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.contenedor__opcion-otro--p4 li input {
  height: 32px;
  width: 251px;
  border: 1px solid var(--color-bloque-header);
  border-radius: 4px;
  padding-left: 4px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

/*Pregunta 5*/
.contenedor__respuestas__encuesta--p5 {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 0 10px;
  margin: 5px 0;
}

.subseccion__respuestas__1--p5,
.subseccion__respuestas__2--p5 {
  display: flex;
  flex-direction: column;
}

.contenedor__inciso--p5 {
  margin: 11px 0;
}

.contenedor__inciso--p5 input {
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
}

.subseccion__respuestas__1--p5 {
  margin-right: 100px;
}

/* Pregunta 6 */
.contenedor__respuestas__encuesta--p6 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Poppins';
  padding: 0 10px;
}

.contenedor__respuesta__1--p6 {
  display: flex;
  flex-direction: wrap;
}

.respuesta__1--p6 {
  margin-right: 30px;
  margin-top: 11px;
  min-width: 110px;
}

.contenedor__incisos--p6 {
  display: flex;
  flex-direction: row;
}

.subseccion__incisos__1--p6,
.subseccion__incisos__2--p6 {
  display: flex;
  flex-direction: column;
}

.subseccion__incisos__1--p6 {
  margin-right: 90px;
}

.contenedor__inciso--p6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 11px 0;
}

.contenedor__incisos--p6 label {
  margin-right: 10px;
}

.contenedor__inciso--p6 input {
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
}

.contenedor__respuesta__2--p6 {
  margin: 10px 0;
}

/* Pregunta 7 */
.contenedor__respuesta__encuesta--p7 {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.contenedor__subsecciones--p7 {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subseccion__respuestas__1--p7,
.subseccion__respuestas__2--p7,
.subseccion__respuestas__3--p7 {
  display: flex;
  flex-direction: column;
}

.subseccion__respuestas__1--p7 li,
.subseccion__respuestas__2--p7 li,
.subseccion__respuestas__3--p7 li {
  margin: 6px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subseccion__respuestas__1--p7 li input,
.subseccion__respuestas__2--p7 li input,
.subseccion__respuestas__3--p7 li input {
  margin-right: 5px;
}

.contenedor__respuesta__2--p7 {
  margin: 10px 10px;
}

.contenedor__respuesta__2--p7 li input {
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
}

/* Pregunta 8 */
.contenedor__respuestas__encuesta--p8 {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Poppins';
}

.subseccion__1__respuestas--p8,
.subseccion__2__respuestas--p8 {
  display: flex;
  flex-direction: column;
}

.contenedor__inciso--p8 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 11px 0;
}
.contenedor__inciso--p8 label {
  margin-right: 5px;
}

.contenedor__inciso--p8 input {
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
}

.subseccion__1__respuestas--p8 {
  margin-right: 100px;
}


/* Pregunta 9 */
.contenedor__respuestas__encuesta--p9 {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px;
}

.contenedor__inciso--p9 {
  margin-bottom: 35px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contenedor__inciso--p9 input {
  margin-right: 5px;
}

.contenedor__inciso--otro--p9 label {
  margin-right: 5px;
}

.contenedor__inciso--otro--p9 input {
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
}

/* Pregunta 10 */
.contenedor__opciones__respuesta--p10 {
  margin: 20px 0;
  font-size: 14px;
  font-family: 'Poppins';
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--blanco);
}

table td,
table tr {
  height: 48px;
}

table tr:nth-child(odd) {
	background-color: var(--color-bloque-header);
}

table tr:nth-child(even) {
	background-color: var(--color-button1);
}

.fila__titulos--p10 {
  color: var(--negro);
  font-size: 14px;
  font-family: 'Poppins';
}

.columna__1__tabla--p10 {
  padding-left: 10px;
  width: 120px;
  font-size: 14px;
}
.columna__2__tabla--p10,
.columna__3__tabla--p10,
.columna__4__tabla--p10,
.columna__5__tabla--p10 {
  width: 90px;
}

.contenedor__inciso--p10 {
  padding-left: 10px;
}

.contenedor__opcion {
  text-align: center;
}

/* Pregunta 11 */
.contenedor__opciones__respuesta--p11 {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 20px 0;
  font-size: 13px;
  font-family: 'Poppins';
}

.contenedor__respuesta__1--p11 {
  margin: 10px 0;
}

.input__respuesta_no-p11{
  height: 32px;
  width: 251px;
  border-radius: 4px;
  border: 1px solid var(--color-bloque-header);
  padding-left: 4px;
  margin-left: 5px;
}

/* Pregunta 12 */

.contenedor__respuesta--p12 {
  padding: 10px 10px;
}

.contenedor__respuesta--p12 textarea {
  width: 100%;
  resize: vertical;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  font-family: 'Poppins';
  min-height: 72px;
}


/**********************/
/* BOTONES */
/**********************/
.contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 86px;
}

.contenedor-botones a {
  margin-right: 20px;
  color: var(--texto-opc3);
}

.contenedor-botones input {
  margin-left: 20px;
}

.button--1 {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  background-color: var(--color-button1);
  color: var(--texto-opc3);
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.button--2 {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 32px;
  background-color: var(--texto-opc2);
  color: var(--texto-opc3);
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}


/* PIE */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1024px;
  height: 82px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: 110px auto auto auto;
}

.footer--div1-img {
  border-width: 0px;
  position: absolute;
  left: 30px;
  top: 17px;
  width: 132px; 
  height: 39px;
}

.footer-img1{
  width: 132px; 
  height: 39px;
}

.footer--div2-img {
  position: absolute;
  left: 900px;
  width: 48px;
  height: 68px;
}

.footer-img2{
  width: 48px; 
  height: 68px;
}

.footer--titleT1 {
  display: flex;
  flex-direction: row;
  width: 339px;
  height: 20px;
  margin-top: 5px;
  margin-left: 165px;
  justify-content: space-around;
}

.footer--titleT1 a{
  display: flex;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--texto-opc2);
  text-decoration: none;
}

.footer--text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 820px;
  height: 30px;
  left: 15px;
  bottom: 15px;
}

.footer--textT1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 50px;
  left: 72px;
  margin-left: 85px;
  justify-content: space-around;
  display: flex;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: var(--texto-opc4);
}

.footer--textT2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 33px;
  justify-content: space-around;
  display: flex;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: var(--texto-opc4);
}