@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../estilo.css');

:root {
  --bg--gris: #6b6b6b;
  --bg--guinda: #6d000e;  
  --bg--guinda--hover: rgb(163,0,20);
  --bg--guinga--bg: rgba(163, 0, 20, 0.85);
  --bg--blanco: #ffffff;
  --bg--grisTrans: rgba(87, 85, 85, 0.92);
  --bg--grisTrans2: rgba(255, 255, 255, 0.8);
  --bg--azulObscTrans: rgba(7, 30, 51, 0.92);
  --txt--grisOscuro: #333333;
  --txt--blanco: #ffffff;

  --bg--red-sede:#a30014;
  --bg--guinda-sede: #632a29;
  
  --border--gris: #797979;
  --bgbtn--search: #7f8c8d;
  --txt--filter:#818d8e;
  --bg--tab--blanco: #ffffff;
  --bg--tab--gris: #f2f2f2;
  --bg--tab--grisOscuro:#aaaaaa;
  --bg--tab--hover: rgb(245, 177, 86);
  --border--tabThead:#d7d7d7;
  --txt--NuevaOferta: #02a7f0;
  --txt--Aceptada: #70b603;
  --txt--EnProceso: #f59a23;
  --txt--Rechazada: #d9001b;

  --footer--bg--gris: rgba(242, 243, 244, 0.92);
  --footer--acerca: #071e33;
  --footer--txt: #7f7f7f;

  --color-menu-header: #6b6b6b;
  --color-option-selected-menu: #632a29;
  --color-option-hover-menu: #632A29;
  --color-block-events: rgba(255, 255, 255, 0.92);
  --color-scroll-bar: #acabab;
  --color-main-events: #071e33;
  --color-card-others-events: rgba(163, 0, 20, 0.75);
  --color-hover-others-events: #6d000e;
  --color-pagination: #555555;
  --color-option-selected-pagination: #6d000e;
  --color-elements-form: #ffffff;
  --color-line: #333333;
  --title-login: #000000;
  --text-opc1: #ffffff;
  --text-title-header: #333333;
  --text-menu-header: #f2f2f2;
  --text-main-events-1: rgba(255, 255, 255, 1);
  --text-main-events-2: rgba(255, 255, 255, 0.8);
  --text-others-events: #071e33;
  --text-pagination: #ffffff;
  --text-title-footer: #071e33;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../../assets/img/imagen_main.jpg');
    background-attachment: fixed;
    background-size:cover;
}

#contenido {
    width: 1024px;
    background-color: var(--bg--grisTrans);
    font-family: 'Raleway', sans-serif;
    color: var(--txt--grisOscuro);
    text-align: left;
    line-height: normal;
    margin: 10px auto 0 auto;
    height: 520px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.contenido--cabecera {
    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: var(--bg--grisTrans2); */
    background-color: white;
}

#filtro {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.orgullo--suneo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    background-color: var(--bg--azulObscTrans);
    color: var(--bg--tab--gris) ;
    font-size: 14px;
    padding: 10px 0 20px 0;
    z-index: 0;
}

.orgullo--suneo--texto {
    width: 50%;
    padding-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.orgullo--suneo--texto--titulo,
.orgullo--suneo--evento--titulo {
    padding: 15px 0 10px 0;
    position: sticky;
    z-index: 1;
    top: 0;
}

.orgullo--suneo--texto--parrafo {
    overflow-y: auto;
    flex: 1;
    z-index: 0;
    height: 50%;
}

.orgullo--suneo--texto--nomina {
    display: flex;
    justify-content: right;
    align-items: end;
    bottom: 0;
    position: sticky;
    z-index: 1;
}

.orgullo--suneo--texto--nomina a {
    color: white;
    font-size: 12px;
    text-decoration: underline;
}

.orgullo--suneo--evento {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.orgullo--suneo--evento--img {
    flex: 1;
    overflow: hidden;
    border-radius: 5px;
}

.orgullo--suneo--evento--img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.historias--recientes {
   display: flex; 
   flex-direction: column;
}

.historias--recientes--titulo {
    color: var(--bg--guinda--hover);
    padding: 15px 0 5px 35px; 
}

.historias--recientes--cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 360px;
    padding-bottom: 20px;
}

.card {
  	width: 20%;
  	height: 100%;
  	margin: 0px 15px;
  	display: flex;
  	flex-direction: column;
}

.card--img {
  	height: 80%;
  	width: 100%;
  	display: flex;
  	position: relative;
  	border-radius: 5px;
    overflow: hidden;
}

.card--img img {
  	width: 100%;
  	height: 100%;
    object-fit: cover;
  	border-radius: 5px;
  	position: absolute;
}

.card--img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%; /* Cubre el 25% inferior */
    background: linear-gradient(
      to top,
      rgba(163, 0, 20, 0.8) 0%,
      transparent 100%
    );
}

.card--img--info {
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  	position: absolute;
  	width: 100%;
  	height: 50%;
  	bottom: 0;
}

.card--img--info--titulo {
  	width: 100%;
  	height: 75%;
  	font-size: 1rem;
  	font-family: 'Poppins-SemiBold', 'Poppins SemiBold', 'Poppins', sans-serif;
  	font-weight: 650;
  	text-decoration: underline;
  	color: white;
  	text-align: left;
  	line-height: normal;
    z-index: 1;
}

.card--img--info--titulo p {
    margin-left: 14px;
}

.card--desc {
  	width: 183px;
  	height: 60px;
  	margin: 16px auto auto 16px;
}

.card--desc p {
  	font-size: 12px;
  	font-family: 'Raleway', sans-serif;
  	text-align: left;
  	line-height: normal;
}

.card--det {
  	margin: 10px auto auto 16px;
}

.card--det button {
    color: red;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-size: 12px;
}

.mas--historias {
    background-color: rgba(163, 0, 20, 0.85);
    border: solid red 5px;
    box-sizing: border-box;
}
    
.mas--historias--cards {
    display: flex;
    flex-direction: column;
    height: 720px;
    padding-bottom: 20px;
}

.mas--historias--cards--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    padding-bottom: 20px;
}

.mas--historias--titulo {
    color: white;
    padding: 15px 0 5px 35px; 
}

.mas--historias--desc p {
    color: white;
}
.mas--historias--det button {
    color: white;
}