.pagination-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination-buttons button {
    height: 24px;
    padding: 5px 15px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.pag-btn-txt {
    width: 12%;
}

.pag-btn-num {
    width: 6%;
}

.pagination-buttons button:hover {
    background-color:rgb(127, 127, 127);
}

.pagination-buttons .active {
    background-color: #6d000e;
}

.pagination-buttons .disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
