@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --negro:#000000;
    --blanco:#ffffff;
    --txt-header-titulo-EgAd:#333333;
    --menu-fondo:#6b6b6b;
    --menu-hover:rgb(163,0,20);
    --menu-selec:#632a29;
    --footer-fondo:rgba(242, 243, 244, 0.92);
    --footer-txt1:#071e33;
    --footer-txt2:#7f7f7f;
    --navpags-fondo:#555555;
    --navpags-hover:rgb(163,0,20);
    --navpags-selec:#632a29;
    
    --blanco-trans72:--:rgba(255, 255, 255, 0.72);
    --blanco-trans80:--:rgba(255, 255, 255, 0.8);
    --blanco-trans92:--:rgba(255, 255, 255, 0.92);
    
    --txt-navbar-fijo:#6d000e;
    --txt-navbar-nofijo:#6b6b6b;
    --bg-btn-busqueda:#7f8c8d;
    --contenido-fondo:rgba(255, 255, 255, 0.72);
    /*admin*/
    --ofertaNueva:#02a7f0;
    --ofertaAceptada:#70b603;
    --ofertaEnProceso:#f59a23;
    --ofertaRechazada:#d9001b;
    --lista-th:#6b6b6b;
    --lista-par:#ffffff;
    --lista-impar:#f2f2f2;
    --lista-hover:#aaaaaa;
    /*reg empresas*/
    --regEmpr-header-fondo:#071e33;
    --flecha-fondo:#acabab;
    --flecha-selec:#071e33;
    --flecha-fondo-trans92:rgba(215, 215, 215, 0.92);
    --datosempresa-fondo:rgba(7, 30, 51, 0.35);
    --datosempresa-txt1:#333333;
    --datosempresa-txt2:#7f8c9d;
    /*admin y egre*/
    --ofertalaborales-hover:rgba(170, 170, 170, 0.16);
    --ofertalaborales-txt:#333333;
    --eventos-proximos:rgba(7, 30, 51, 0.65);
    --tarjeta1:#a30014;
    --tarjeta2:#071e33;
    --tarjeta3:#d7d7d7;
    --tarjeta4:#632a29;
    --otrosevento-titulo:#071e33;
    --tarjeta-fondo:rgba(163, 0, 20, 0.75);
    --tarjeta-hover:rgb(109, 0, 14);
    --tarjeta-txt:rgba(255, 255, 255, 0.8);
    --orgulloSuneo-fondo:rgba(7, 30, 51, 0.92);
    --salarios-hover:#feb257;
}